/*

1920x1200

*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font: 100% "Helvetica Neue", Helvetica, Arial, sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

#left{
	height: 100%;
	width: 70%;
	float: left;
	background: #fafafa;
}

#top {
	height: 75%;
	background: repeat-x url('img/left_clear_sky.png');
}

#bottom {
	width: 1080px;
	margin: 0px auto 0px auto;
	
	/* Needs some BIGASS EDITING for final release. AHHHHHH */
}

#b_left{
	width: 50%;
	float: left;
}

#b_right p{
	color: #343434;
	padding: 10px 0px 0px 5px;
}

#b_right{
	float: right;
	width: 50%;
	text-align: right;
}

#b_left img{
	margin-top: 100px;
}

#right{
	width: 30%;
	height: 100%;
	float: right;
	background: #ffcf4d;
}

.visualization{
	width: 1200px;
	height: 750px;
	margin: 0px auto;
}

#slideshow{
	width: 100%;
	text-align: center;
	background: repeat-x url('img/clouds.png');
}

#top h1, #slideshow h1{
	padding-top: 70px;
	font: bold 480% "Helvetica Neue", Helvetica, Arial, sans-serif;
	letter-spacing: -1pt;
	position: relative;
	/*background: -webkit-gradient(linear, left top, left bottom, from(#3c85b7), to(#10324a));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;*/
	color: #0a293e;
	text-shadow: 0px 1px 1px #333333;
}

.slides_container {
	text-align:center;	
	margin: 0 auto;
}

.slides {
	margin : 0 auto;
	width: 1200px;
}

.slides_control {
	margin-left: 40px;
}

.counter{
	height: 30%;
	width: 100%;
	color: #fff;
	text-align: center;
}

.counter h3{
	font-size: 750%;
	font-weight: bold;
	text-shadow: 0px 1px 1px #333333;
	margin-top: 5%;
}

.counter p{
	 color: rgba(0, 0, 0, 0.7);
	 font-size: 150%;
}

#ct_dag{
	background: #ff5b00; /* Old browsers */
	background: -moz-linear-gradient(top, #ff5b00 0%, #ff7b32 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff5b00), color-stop(100%,#ff7b32)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ff5b00 0%,#ff7b32 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ff5b00 0%,#ff7b32 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ff5b00 0%,#ff7b32 100%); /* IE10+ */
	background: linear-gradient(top, #ff5b00 0%,#ff7b32 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff5b00', endColorstr='#ff7b32',GradientType=0 ); /* IE6-9 */
	border-top: 1px solid #ff8a48;
}

#ct_uke{
	background: #ff9000; /* Old browsers */
	background: -moz-linear-gradient(top, #ff9000 0%, #ffae45 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff9000), color-stop(100%,#ffae45)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ff9000 0%,#ffae45 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ff9000 0%,#ffae45 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ff9000 0%,#ffae45 100%); /* IE10+ */
	background: linear-gradient(top, #ff9000 0%,#ffae45 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9000', endColorstr='#ffae45',GradientType=0 ); /* IE6-9 */
	border-top: 1px solid #ffa32b;
}

#ct_mnd{
	background: #ffc11b; /* Old browsers */
	background: -moz-linear-gradient(top, #ffc11b 0%, #ffcf4d 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffc11b), color-stop(100%,#ffcf4d)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffc11b 0%,#ffcf4d 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffc11b 0%,#ffcf4d 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffc11b 0%,#ffcf4d 100%); /* IE10+ */
	background: linear-gradient(top, #ffc11b 0%,#ffcf4d 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc11b', endColorstr='#ffcf4d',GradientType=0 ); /* IE6-9 */
	border-top: 1px solid #f7c335;
}

#ct_title{
	height: 10%;
background: #eeeeee; /* Old browsers */
background: -moz-linear-gradient(top, #eeeeee 0%, #d6d6d6 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#d6d6d6)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #eeeeee 0%,#d6d6d6 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #eeeeee 0%,#d6d6d6 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #eeeeee 0%,#d6d6d6 100%); /* IE10+ */
background: linear-gradient(top, #eeeeee 0%,#d6d6d6 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#d6d6d6',GradientType=0 ); /* IE6-9 */
border-top: 1px solid #fff;
}

#ct_title p{
	font-size: 250%;
	font-weight: bold;
	text-shadow: 0px 1px 0px #fff;
	padding-top: 3%;
	color: #434141;
	text-align: center;
}





