#wrapper{
	width: 960px;
	margin: 60px auto 0px auto;
	text-align: center;
}

h1{
	font: 200% normal "Helvetica Neue", Helvetica, Arial;
	margin-top: 0px;
}

span#counter{
	font-weight: bold;
	font-size: 150%;
}